@using Flycamera.App_Start
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_MetaSEO")
    <title>@ViewBag.Title</title>
    @RenderSection("stylesheet", required: false)
    @Styles.Render("~/Content/AdminCSS")
    
</head>
<body class="administrator">
    @Html.Partial(@StaticVariableAdministrator._header)
    @RenderBody()
    <div id="body-content">
        <div class="wrapper">
            @RenderSection("bodyContent", required: false)
        </div>
    </div>
    

    <div id="footer">
        <div class="wrapper">
            <p class="desigby">Designer By TuyenMV. Developer By Johnny Ken</p>
        </div>
    </div>
<div class="loading__page">
    <img src="@Url.Content("~/Content/images/process-page.gif")" alt="Alternate Text"/>
</div>
    @Scripts.Render("~/Scripts/jquery-1.11.2.js")
    @Scripts.Render("~/Scripts/tinymce/tinymce.js")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/AdminJS")
</body>
</html>
