@using Flycamera.App_Start
@using FlyEntity.Utilities
@model Flycamera.ViewModel.ProductsVM

@if (Model != null && Model.ListVideos.Count > 0) { 
    foreach (var item in Model.ListVideos)
    {
        if (item.Fly_PositionGallery != null && item.Fly_PositionGallery.PositionName_EN.Equals(PositionTab.Technical))
        {
        <div class="item-list">
            <div class="left-list">
                <a title="@item.VideosTitle" href="@item.VideosLink" class="fancybox">
                    @if (item.Fly_Picture != null && item.Fly_Picture.OriginalURL.Length > 0)
                    {
                        <img alt="@item.VideosTitle" src="@item.Fly_Picture.OriginalURL" title="@item.VideosTitle">
                    }
                    else
                    {
                        <img alt="@item.VideosTitle" src="@Url.Content("/Content/images/sprite/no-image.png")" title="@item.VideosTitle">
                    }
                </a>
            </div>
            <div class="right-list">
                <div class="top">
                    <h1>
                        <a title="@item.VideosTitle" href="@item.VideosLink" class="fancybox">@item.VideosTitle</a>
                    </h1>
                </div>
                <div class="middle">
                    <p>
                        @item.VideosShortContent
                    </p>

                    <a title="View Now" class="view-now fancybox" href="@item.VideosLink">Xem Video</a>
                    <div class="frm-share">
@*                        <a title="Google Plus" class="gplus" href="#">Google Plus</a>*@
                        <a title="Facebook" class="fb" href="#">Facebook</a>
                    </div>
                </div>
            </div>
        </div>
        }
    }
}