@using Flycamera.App_Start
@model IEnumerable<FlyEntity.Fly_Partnership>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="titlePage">
    <div class="wrapper">
        <h1>List Partnership</h1>
    </div>
</div>
@section bodyContent{

    <div class="control-action">

        @Html.ActionLink("New Item", "Create", null, new { @class = "button newItem" })
    </div>
    <table width="100%" cellspacing="0" cellpadding="0" class="responstable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Link</th>
                <th width="15%">Picture</th>
                <th width="5%">CreatedOn</th>
                <th width="5%">Publish</th>
                <th width="5%">Delete</th>
                <th width="5%">Order</th>
                <th colspan="2">Control</th>
            </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
             {
                 <tr class="row-@item.PartnershipID">
                     <td>@item.PartnershipTitle</td>
                     <td><a href="@item.PartnershipLink" title="@item.PartnershipLink" target="_blank">@item.PartnershipLink</a></td>
                     <td width="15%">@if (item.Fly_Picture != null)
                                     {
                                         <img src="@item.Fly_Picture.OriginalURL" class="preview" width="150" height="80"/>
                                     }
                                     else
                                     {
                                         <img src="@Url.Content("/Content/images/sprite/no-image.png")" class="preview" width="150" height="80"/>
                                     }</td>
                     <td width="5%" title="@item.CreatedOn">@item.CreatedOn.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                     <td width="5%">
                         <input type="checkbox" name="Published" class="disable" value="Published" checked="@item.Published"/></td>
                     <td width="5%"><input type="checkbox" name="Deleted" class="disable" value="Deleted" checked="@item.Deleted"/></td>
                     <td width="5%">@item.DisplayOrder</td>
                     <td width="5%">@Html.ActionLink("Edit", "Edit", new {id = item.PartnershipID}, new {@class = "editIcon", @title = "Edit"})</td>
                     <td width="5%">@Html.ActionLink("Delete", null, null, new {@class = "removeItem", @rel = item.PartnershipID})</td>
                 </tr>
             }
        }
        else
        {
            @Html.Raw("<p>" + StaticVariable.Msg_Update + "</p>");
        }
        </tbody>
    </table>
    @Html.Hidden("controllerServices", this.ViewContext.RouteData.Values["controller"].ToString(), new { @id = "controllerServices" })
}
@section Scripts {
}